body {
    margin-top: 70px;
}

ul.source-tree,
ul.source-tree ul {
    list-style-type: none;
    padding-left: 1em;
}

ul.source-tree a {
    color: inherit;
    cursor: pointer;
}

.source-tree .selected > .name {
    font-weight: bold;
}
