body {
    margin-top: 70px;
}

ul.source-tree,
ul.source-tree ul {
    list-style-type: none;
    padding-left: 1em;
}

ul.source-tree a {
    color: inherit;
    cursor: pointer;
}

ul.source-tree .glyphicon {
    color: gray;
}

.source-tree .selected > a {
    font-weight: bold;
}

.source-tree .selected > a .glyphicon {
    color: inherit;
}

ol.code {
    border: 1px solid gray;
    padding: 5px;
}

ol.code > li {
    white-space: pre-wrap;
    font-family: monospace;
}

ol.code > li.highlight:hover,
ol.code > li:hover {
    background-color: #ddd;
}

ol.code > li.highlight {
    background-color: #eee;
}

ol.code .keyword {
    font-weight: bold;
}

ol.code .string {
    color: red;
}
ol.code .number {
    color: blue;
}
