body {
    margin-top: 70px;
}

ul.source-tree,
ul.source-tree ul {
    list-style-type: none;
    padding-left: 1em;
}

ul.source-tree a {
    color: inherit;
    cursor: pointer;
}

ul.source-tree .glyphicon {
    color: gray;
}

.source-tree .selected > a {
    font-weight: bold;
}

.source-tree .selected > a .glyphicon {
    color: inherit;
}
