body {
    margin-top: ($navbar-height + $navbar-margin-bottom);
}

#dependency-chart {
    .row {
        .node {
            fill: $gray-base;
        }

        .bg {
            fill: $table-bg;
        }

        &.uneven .bg {
            fill: $table-bg-accent;
        }

        .caption {
            font-family: $font-family-sans-serif;
            font-size: $font-size-base;
            fill: $gray-base;
        }

        &.package {
            .bg, text {
                cursor: pointer;
            }
        }

        &.unfolded {
            .node {
                fill: $gray-lighter;
            }

            .caption {
                fill: $gray;
            }
        }

        &.hover {
            .bg {
                fill: $table-bg-hover;
            }

            .node {
                fill: $primary;
            }
        }
    }
}

ul.source-tree {
    &, & ul {
        list-style-type: none;
        padding-left: $padding-base-horizontal;
    }

    a {
        color: inherit;
        cursor: pointer;
    }

    .glyphicon {
        color: $gray-light;
    }

    .selected > a {
        font-weight: bold;
    }

    .selected > a .glyphicon {
        color: inherit;
    }
}


ol.code {
    border: 1px solid $gray-lighter;
    padding: $padding-small-vertical;

    & > li {
        white-space: pre-wrap;
        font-family: monospace;
    }

    & > li.highlight:hover,
    & > li:hover {
        background-color: $gray-lighter;
    }

    & > li.highlight {
        background-color: $gray-verylight;
    }

    .keyword {
        font-weight: bold;
    }

    .string {
        color: $primary;
    }
    .number {
        color: $red;
    }
}
